.lh-title-heading
  margin 0

.lh-title
  display block
  cursor pointer
  text-decoration none
  padding 10px
  color #ecf0f1
  background-color #16a085

.lh-tagline
  font-size 0.6em
  font-style italic
