.ly-main,
.ly-input
  background-color #34495e

.ly-input,
.ly-svg
  display block
  resize none
  padding 10px

.ly-input
  border none
  color #ecf0f1
  width 100%
  font-size 14px !important // such ace editor, very lame
  line-height 22px !important // such ace editor, very lame

.ly-output
  display block
  background-color #ecf0f1
  color #27ae60

.ly-frame
  position fixed
  top 0
  left 0
  width 1px
  height 1px
  visibility hidden

@media only screen and (min-width: 768px)
  .ly-main
    display table
    width 100%

  .ly-container
    display table-row

  .ly-input,
  .ly-output
    display table-cell
    vertical-align top
    overflow auto
    height 100%

  .ly-input,
  .ly-output
    width 50%

