.ng-list
  list-style-type none
  user-select none
  font-size 0

  li
    display inline-block
    font-size 14px

.ng-link
  display inline-block
  cursor pointer
  padding 10px
  border-top 4px solid transparent
  border-bottom 4px solid transparent

  &:hover
    font-style italic
    border-top-color #16a085
    border-bottom-color #34495e

.ng-recorder-off
  color #e23624

.ng-download
  cursor wait

.ng-download-ready
  transition all 0.5s ease-in-out
  cursor pointer
  background-color #16a085
  color #ecf0f1

.ng-recorder-off.ng-download,
.ng-playback-disabled
  color rgba(#000, 0.3)
  cursor not-allowed

  &:hover
    border-top-color transparent
    border-bottom-color transparent

.ng-babelify-label
  padding-left 5px

.ng-babelify,
.ng-babelify-label
  display inline-block
  vertical-align middle
  cursor pointer
