.ng-list
  list-style-type none
  font-size 0

  li
    display inline-block
    font-size 14px

.ng-link
  display inline-block
  padding 10px
  border-top 4px solid transparent
  border-bottom 4px solid transparent

  &:hover
    font-style italic
    border-top-color #16a085
    border-bottom-color #34495e
