.tt-container
  display none
  position absolute

.tt-wrapper
  box-shadow 1px 1px 2px #ccc
  background-color #34495e
  color #ecf0f1

.tt-header
  padding 10px 20px
  background-color rgba(#000, 0.2)

.tt-code
  padding 10px 20px
  margin 0

.tt-show
  display block

.tt-fulfillment
  background-color darken(#16a085, 10%)

.tt-rejection
  background-color darken(#e23624, 20%)
