@import 'node_modules/normalize.css/normalize.css'
@import 'node_modules/nib/index'

html,
html:before,
html:after,
body,
body:before,
body:after
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit
