ul,
ol
  margin 0
  padding 0
  list-style-position inside

ul
  list-style-type disc

b,
strong,
  font-weight bold

i,
em,
  font-style italic

ins
  text-decoration none

del
  text-decoration line-through

hr
  border-bottom none
  border-top 1px dotted c-turquoise
  max-width 60%

a,
button,
input,
textarea,
img
  outline 0

input,
button
  border-radius 0

img
  max-width 100%
  border none

button
  border none
  background none
  padding 0

input,
textarea
  fn-input()

h1,
h2,
h3,
h4,
h5,
h6,
p
  &:first-child
    margin-top 0

fieldset
  margin 0
  padding 0
  border none

kbd
  display inline-block
  vertical-align middle
  white-space nowrap
  background-color c-whiteish
  color c-black
  border 1px solid #ccc
  margin 0 0.1em
  padding 0.1em 0.6em
  line-height 1.4
  font-size 11px
  text-shadow 0 1px 0 c-white
  box-shadow 0 1px 0 #bbb, 0 0 0 2px c-white inset
  border-radius 3px
